In [5]:
#import Numpy and Pandas for data frame operations

import numpy as np
import pandas as pd
import pprint
import os

#declare Rootdirectory for loading files into data frames

ROOTDIR =r"C:\Sneha\Upgrad\Casestudy Sparkfunds"

Checkpoint 1: Data Cleaning 1
Subtask 1.1: Import and read
Import and read the companies and rounds data into two data frames and name them companies and rounds2 respectively.

In [6]:
file1 = os.path.join(ROOTDIR, 'companies.txt') 

#print(ROOTDIR) 
companies=pd.read_csv(file1,sep = "\t", encoding = "ISO-8859-1")

# check meta data of Companies
companies.shape
#(66368, 10)
#validate data quality
companies.head(5)
#check unique id of the table
companies.permalink.nunique()
#66368
#decode spl characters in Latin
companies['name']=companies['name'].str.encode('latin-1').str.decode('ascii','ignore')
companies['name']
companies['permalink']=companies['permalink'].str.encode('latin-1').str.decode('ascii','ignore')
companies['permalink']
companies.shape
#(66368, 10)
companies.name.nunique()
#66102

66102

In [3]:
companies.head(5)

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

In [11]:
#load Round2 data
file2 = os.path.join(ROOTDIR, 'rounds2.csv') 
round2=pd.read_csv(file2,sep = ",", encoding = "ISO-8859-1")
#check meta data of rounds2
round2.shape
#(114949, 6)

(114949, 6)

In [12]:
#validate data in rounds2
round2.head(5)
#decode spl characters in Latin
round2['company_permalink']=round2['company_permalink'].str.encode('latin-1').str.decode('ascii','ignore')
#get unique id of table rounds2
round2.funding_round_permalink.nunique()
round2.company_permalink.str.upper().nunique()
#66370
#114949

66368

In [13]:
#check for records with null values for raised_amount_usd
round2['raised_amount_usd'].isnull().sum()
#19990
#take back-up of DF before deleting rowns with null values in raised_amount_usd
round2_bkp=round2
round2_bkp.shape
#(114949, 6)
#delete rown with null amount 
round2.dropna(subset=['raised_amount_usd'], inplace= True )
round2.shape
#round2['raised_amount_usd'].isnull().sum()

(94959, 6)

In [14]:
#check if any companies in the rounds2 file which are not  present in companies
cmp1 = pd.DataFrame(columns=['permalink'])
cmp1['permalink']=companies['permalink'].str.upper()
rnd1 = pd.DataFrame(columns=['permalink'])
rnd1['permalink']=round2['company_permalink'].str.upper()
rnd_not_cmp = rnd1[rnd1.permalink.isin(cmp1.permalink) == False]
rnd_not_cmp

                                               permalink
0                                    /ORGANIZATION/-FAME
1                                 /ORGANIZATION/-QOUNTER
2                    /ORGANIZATION/-THE-ONE-OF-THEM-INC-
3                                  /ORGANIZATION/0-6-COM
4                         /ORGANIZATION/004-TECHNOLOGIES
5                       /ORGANIZATION/01GAMES-TECHNOLOGY
6                    /ORGANIZATION/0NDINE-BIOMEDICAL-INC
7                                   /ORGANIZATION/0XDATA
8                                        /ORGANIZATION/1
9                              /ORGANIZATION/1-2-3-LISTO
10                                 /ORGANIZATION/1-4-ALL
11                        /ORGANIZATION/1-618-TECHNOLOGY
12                           /ORGANIZATION/1-800-DENTIST
13                           /ORGANIZATION/1-800-DOCTORS
14              /ORGANIZATION/1-800-PUBLICRELATIONS-INC-
15                            /ORGANIZATION/1-MAINSTREAM
16                                 /ORGANIZATION/1-OF-99
17                             /ORGANIZATION/10-20-MEDIA
18                         /ORGANIZATION/10-MINUTES-WITH
19                              /ORGANIZATION/1000-CORKS
20                            /ORGANIZATION/1000-MARKETS
21                                 /ORGANIZATION/1000CHI
22                               /ORGANIZATION/1000LOOKZ
23                            /ORGANIZATION/1000MEMORIES
24                         /ORGANIZATION/1000MUSEUMS-COM
25                              /ORGANIZATION/1001-MENUS
26                      /ORGANIZATION/1001PHARMACIES-COM
27                                 /ORGANIZATION/1006-TV
28                                /ORGANIZATION/100DU-TV
29                                /ORGANIZATION/100E-COM
...                                                  ...
66338                                /ORGANIZATION/ZYKIS
66339                       /ORGANIZATION/ZYLIE-THE-BEAR
66340                       /ORGANIZATION/ZYLUN-STAFFING
66341                       /ORGANIZATION/ZYME-SOLUTIONS
66342                             /ORGANIZATION/ZYMERGEN
66343                              /ORGANIZATION/ZYMETIS
66344                            /ORGANIZATION/ZYMEWORKS
66345                             /ORGANIZATION/ZYMOCHEM
66346                                /ORGANIZATION/ZYMPI
66347                            /ORGANIZATION/ZYMR-INC-
66348                                /ORGANIZATION/ZYNCD
66349                               /ORGANIZATION/ZYNCRO
66350              /ORGANIZATION/ZYNERBA-PHARMACEUTICALS
66351            /ORGANIZATION/ZYNERGY-PROJECTS-SERVICES
66352                                /ORGANIZATION/ZYNGA
66353                             /ORGANIZATION/ZYNGENIA
66354                              /ORGANIZATION/ZYNSTRA
66355                           /ORGANIZATION/ZYOMYX-INC
66356                                 /ORGANIZATION/ZYPE
66357                               /ORGANIZATION/ZYPSEE
66358                     /ORGANIZATION/ZYRAZ-TECHNOLOGY
66359                                /ORGANIZATION/ZYRRA
66360                               /ORGANIZATION/ZYSTOR
66361                           /ORGANIZATION/ZYTOPROTEC
66362                                /ORGANIZATION/ZZISH
66363  /ORGANIZATION/ZZNODE-SCIENCE-AND-TECHNOLOGY-CO...
66364                          /ORGANIZATION/ZZZZAPP-COM
66365                                 /ORGANIZATION/ERON
66366                               /ORGANIZATION/ASYS-2
66367  /ORGANIZATION/NOVATIFF-REKLAM-VE-TANTM-HIZMETL...

[66368 rows x 1 columns]

In [17]:
#Create master data frame merging companies and round2
master_frame=pd.merge(companies, round2, how='right', left_on = companies['permalink'].str.upper(), right_on = round2['company_permalink'].str.upper())
#find the observations of master Df
master_frame.shape
#(94959, 17)
round(master_frame.isnull().sum(axis=0)/len(master_frame.index)*100,2)

key_0                       0.00
permalink                   0.00
name                        0.00
homepage_url                4.56
category_list               1.10
status                      0.00
country_code                6.16
state_code                  8.01
region                      7.42
city                        7.42
founded_at                 16.81
company_permalink           0.00
funding_round_permalink     0.00
funding_round_type          0.00
funding_round_code         70.34
funded_at                   0.00
raised_amount_usd           0.00
dtype: float64

In [18]:
#Data Cleaning
master_frame = master_frame[~np.isnan(master_frame['raised_amount_usd'])]
master_frame.dropna(subset=['country_code'], inplace= True )
#Checking the data left (~77% left) after cleaning for null values
round(master_frame.isnull().sum(axis=0)/len(master_frame.index)*100,2)

key_0                       0.00
permalink                   0.00
name                        0.00
homepage_url                3.79
category_list               0.65
status                      0.00
country_code                0.00
state_code                  1.97
region                      1.34
city                        1.34
founded_at                 15.33
company_permalink           0.00
funding_round_permalink     0.00
funding_round_type          0.00
funding_round_code         69.77
funded_at                   0.00
raised_amount_usd           0.00
dtype: float64

In [19]:
# finding Averages for each funding types
master_frame.groupby('funding_round_type').raised_amount_usd.mean().apply(lambda x: format(x, 'f'))

funding_round_type
angel                       968559.909645
convertible_note           1331937.831071
debt_financing            17186403.497015
equity_crowdfunding         510947.981514
grant                      4508472.529055
non_equity_assistance       471445.857143
post_ipo_debt            169451789.774834
post_ipo_equity           66018794.259567
private_equity            73618563.617439
product_crowdfunding       1489682.000000
secondary_market          81527203.551724
seed                        748104.498187
undisclosed               15851078.776627
venture                   11735779.935192
Name: raised_amount_usd, dtype: object

In [20]:
master_frame.groupby('funding_round_type').raised_amount_usd.sum().apply(lambda x: format(x, 'f'))

funding_round_type
angel                      4287814720.000000
convertible_note           1766149564.000000
debt_financing           112278774046.000000
equity_crowdfunding         580436907.000000
grant                      8922267135.000000
non_equity_assistance        29701089.000000
post_ipo_debt             25587220256.000000
post_ipo_equity           39677295350.000000
private_equity           135090064238.000000
product_crowdfunding        494574424.000000
secondary_market           2364288903.000000
seed                      15884502810.000000
undisclosed               21430658506.000000
venture                  564620108462.000000
Name: raised_amount_usd, dtype: object

In [21]:
#finding funding type which is having investments 5 to 15 million USD
master_frame.groupby('funding_round_type').raised_amount_usd.mean().apply(lambda group:  5000000 <= group <= 15000000 )

funding_round_type
angel                    False
convertible_note         False
debt_financing           False
equity_crowdfunding      False
grant                    False
non_equity_assistance    False
post_ipo_debt            False
post_ipo_equity          False
private_equity           False
product_crowdfunding     False
secondary_market         False
seed                     False
undisclosed              False
venture                   True
Name: raised_amount_usd, dtype: bool

In [22]:
# create top 9 countries data  frame with investments
top9=master_frame[master_frame['funding_round_type']=='venture'].groupby(['country_code']).raised_amount_usd.sum().sort_values( ascending=False).apply(lambda x: format(x, 'f')).head(9).reset_index()
top9

  country_code    raised_amount_usd
0          USA  422510842796.000000
1          CHN   39835418773.000000
2          GBR   20245627416.000000
3          IND   14391858718.000000
4          CAN    9583332317.000000
5          FRA    7259536732.000000
6          ISR    6907514579.000000
7          DEU    6346959822.000000
8          JPN    3363676611.000000

In [37]:
#split category list in master data frame to get primary sector
master_frame['Primary_Sector']=master_frame['category_list'].str.split('|').str[0]
#check the data if data is split accordingly
master_frame[['permalink','category_list','Primary_Sector']].head()

master_frame.rename(columns={"key_0":"key_1"},inplace=True)
master_frame.head()

,key_1,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,Primary_Sector
0,/ORGANIZATION/-FAME,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,Media
1,/ORGANIZATION/-QOUNTER,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0,Application Platforms
3,/ORGANIZATION/0-6-COM,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,Curated Web
4,/ORGANIZATION/01GAMES-TECHNOLOGY,/Organization/01Games-Technology,01Games Technology,http://www.01games.hk/,Games,operating,HKG,NaN,Hong Kong,Hong Kong,NaN,/organization/01games-technology,/funding-round/7d53696f2b4f607a2f2a8cbb83d01839,undisclosed,NaN,01-07-2014,41250.0,Games
5,/ORGANIZATION/0NDINE-BIOMEDICAL-INC,/Organization/0Ndine-Biomedical-Inc,Ondine Biomedical Inc.,http://ondinebio.com,Biotechnology,operating,CAN,BC,Vancouver,Vancouver,01-01-1997,/ORGANIZATION/0NDINE-BIOMEDICAL-INC,/funding-round/2b9d3ac293d5cdccbecff5c8cb0f327d,seed,NaN,11-09-2009,43360.0,Biotechnology

In [24]:
#load Sector mapping data
file3 = os.path.join(ROOTDIR, 'mapping.csv') 
mapping=pd.read_csv(file3,sep = ",", encoding = "ISO-8859-1")
mapping.shape
#(688, 10)

(688, 10)

In [27]:
#create row function to get Main Sector
def label_main_sect(row):
    if row['Automotive & Sports'] == 1 :
      return 'Automotive & Sports'
    if row['Blanks'] == 1 :
      return 'Blanks'
    if row['Cleantech / Semiconductors'] == 1 :
      return 'Cleantech / Semiconductors'
    if row['Entertainment'] == 1:
      return 'Entertainment'
    if row['Health']  == 1:
      return 'Health'
    if row['Manufacturing'] == 1:
      return 'Manufacturing'
    if row['News, Search and Messaging'] == 1:
      return 'News, Search and Messaging'
    if row['Social, Finance, Analytics, Advertising'] == 1:
      return 'Social, Finance, Analytics, Advertising'
    return 'Other'

In [28]:
mapping['Main_Sector']=mapping.apply (lambda row: label_main_sect (row),axis=1)
mapping.head()

,category_list,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising",Main_Sector
0,NaN,0,1,0,0,0,0,0,0,0,Blanks
1,3D,0,0,0,0,0,1,0,0,0,Manufacturing
2,3D Printing,0,0,0,0,0,1,0,0,0,Manufacturing
3,3D Technology,0,0,0,0,0,1,0,0,0,Manufacturing
4,Accounting,0,0,0,0,0,0,0,0,1,"Social, Finance, Analytics, Advertising"

In [39]:
#Create New data frame merging master df and mapping to get main sector
master_mapping_frame=pd.merge(master_frame, mapping[['category_list','Main_Sector']],  left_on = master_frame['Primary_Sector'].str.upper(), right_on = mapping['category_list'].str.upper(),how='left').reset_index(drop=True)

#find the observations of master_mapping_frame
master_mapping_frame.shape
#(89108, 21)

(89108, 21)

In [55]:
#DF for USA and FT = Venture for Sector-wise analysis
D1=master_mapping_frame.loc[(master_mapping_frame.country_code == 'USA') & (master_mapping_frame.funding_round_type=='venture') 
                            & (master_mapping_frame.raised_amount_usd <= 15000000) & (master_mapping_frame.raised_amount_usd >= 5000000)]
D1.count()
#12150
D1['raised_amount_usd'].agg(['sum']).apply(lambda x: format(x, 'f'))
#108531347515.000000
D1.groupby(['Main_Sector']).count().sort_values(by='key_0',ascending=False)['raised_amount_usd']
#other
D1[D1['Main_Sector']=='Other'].groupby(['name']).count().sort_values(by='key_0',ascending=False)['raised_amount_usd'].head(5)
D1[D1['Main_Sector']=='Social, Finance, Analytics, Advertising'].groupby(['name']).count().sort_values(by='key_0',ascending=False)['raised_amount_usd'].head(5)

sum    108531347515.000000
Name: raised_amount_usd, dtype: object

In [56]:
#DF for GBR and FT = Venture for Sector-wise analysis
D2=master_mapping_frame.loc[(master_mapping_frame.country_code == 'GBR') & (master_mapping_frame.funding_round_type=='venture') 
                            & (master_mapping_frame.raised_amount_usd <= 15000000) & (master_mapping_frame.raised_amount_usd >= 5000000)]
D2.count()
D2['raised_amount_usd'].agg(['sum']).apply(lambda x: format(x, 'f'))
D2.groupby(['Main_Sector']).count().sort_values(by='key_0',ascending=False)['raised_amount_usd']
#other
D2[D2['Main_Sector']=='Other'].groupby(['name']).count().sort_values(by='key_0',ascending=False)['raised_amount_usd'].head(5)
D2[D2['Main_Sector']=='Social, Finance, Analytics, Advertising'].groupby(['name']).count().sort_values(by='key_0',ascending=False)['raised_amount_usd'].head(5)

sum    5436843539.000000
Name: raised_amount_usd, dtype: object

In [57]:
#DF for IND and FT = Venture for Sector-wise analysis
D3=master_mapping_frame.loc[(master_mapping_frame.country_code == 'IND') & (master_mapping_frame.funding_round_type=='venture') 
                            & (master_mapping_frame.raised_amount_usd <= 15000000) & (master_mapping_frame.raised_amount_usd >= 5000000)]
D3.count()
D3['raised_amount_usd'].agg(['sum']).apply(lambda x: format(x, 'f'))
D3.groupby(['Main_Sector']).count().sort_values(by='key_0',ascending=False)['raised_amount_usd']
#other
D3[D3['Main_Sector']=='Other'].groupby(['name']).count().sort_values(by='key_0',ascending=False)['raised_amount_usd'].head(5)
D3[D3['Main_Sector']=='Social, Finance, Analytics, Advertising'].groupby(['name']).count().sort_values(by='key_0',ascending=False)['raised_amount_usd'].head(5)

sum    2976543602.000000
Name: raised_amount_usd, dtype: object